.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 14px;
}

label {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

span {
  font-size: 12px;
  padding: 2px;
  color: red;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
